// COLORS
$primary-color: #02aab0;
$secondary-color: #00cdac;
$volunteer-primary-color: #02aab0;
$volunteer-secondary-color: #00cdac;

$exhibition-primary-color: #ffab6f;
$exhibition-secondary-color: #f5cf7f;

$art-primary-color: #c54dfa;
$art-secondary-color: #e8b5ff;
// $art-primary-color: #db8b8b;
// $art-secondary-color: #e9c9ca;

$social-primary-color: #cd96b3;
$social-secondary-color: #edc7cb;

$religion-primary-color: #197aff;
$religion-secondary-color: #66a6ff;

$sports-primary-color: #f67;
$sports-secondary-color: #ffc2c2;

$study-primary-color: #9db589;
$study-secondary-color: #bed297;

$chongdongyeon-primary-color: #0e0034;
$chongdongyeon-secondary-color: #6f8bb1;

$white-color: #fff;

$dark-grey: #333333;

$dark-blue-text: #272341; // For Headings

// FONT SIZE
$default-font-size: 1.6rem;
$big-font-size: 4rem;
$mid-font-size: 2.5rem;
