.chapternav {
  background: #f6f7f6;
  overflow: hidden;
  padding-top: 5px;
  padding-bottom: 5px;
  position: relative;
  text-align: center;
  width: 100vw;
  max-width: 100vw;
  height: 72px;
  z-index: 1;
}

.chapternav-wrapper {
  position: relative;
  height: 100%;
  z-index: 1;
}

.chapternav-items {
  list-style: none;
  margin: 0 34px;
  overflow-x: auto;
  overflow-y: hidden;
  -webkit-overflow-scrolling: touch;
  white-space: nowrap;
}

.chapternav-item {
  display: inline-block;
  vertical-align: top;
  margin: 0 -0.11765em;
  padding: 0 20px;
  cursor: pointer;
}
.chapternav-item:hover {
  background-color: #dadada;
}

.chapternav-item:first-child {
  margin-left: 0;
  padding-left: 4px;
}

.chapternav-item:last-child {
  margin-right: 0;
  padding-right: 4px;
}

.chapternav-icon {
  display: block;
  margin: 0 auto 6px;
  height: 36px;
}

.chapternav-label {
  font-size: 11px;
  line-height: 1.09091;
  font-weight: 400;
  letter-spacing: -0.008em;
  display: block;
  margin: 0 auto;
}

.chapternav-link {
  color: #111;
  display: block;
  margin-top: 3px;
  padding: 0;
  position: relative;
  z-index: 1;
  text-decoration: none;
}

.chapternav-link.current {
  color: #48b;
  cursor: default;
  opacity: 0.6;
}

.chapternav-link:hover {
  color: #48b;
  cursor: pointer;
  opacity: 0.6;
}

@-webkit-keyframes chapternav-slidein {
  0% {
    opacity: 0;
  }

  1% {
    -webkit-transform: translateX(160px);
    transform: translateX(160px);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}

@keyframes chapternav-slidein {
  0% {
    opacity: 0;
  }

  1% {
    -webkit-transform: translateX(160px);
    transform: translateX(160px);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}

.chapternav-item {
  -webkit-animation: chapternav-slidein 350ms backwards;
  animation: chapternav-slidein 350ms backwards;
}

.chapternav-paddle {
  font-size: 20px;
  line-height: 1.5;
  font-weight: 300;
  border: 0 solid rgba(17, 17, 17, 0.2);
  border-radius: 0;
  color: #000;
  opacity: 1;
  position: absolute;
  top: 0;
  bottom: 0;
  text-align: center;
  width: 33px;
  -webkit-transition: opacity 150ms ease-out;
  transition: opacity 150ms ease-out;
}

.chapternav-paddle:after {
  opacity: 0.8;
  -webkit-transition: opacity 200ms linear;
  transition: opacity 200ms linear;
}

.chapternav-paddle:disabled {
  opacity: 0;
}

.chapternav-paddle:hover:after {
  opacity: 1;
}

.chapternav-paddle:focus {
  outline: none;
}

.chapternav-paddle:focus:after {
  outline: 3px solid #c1e0fe;
  outline: 3px solid rgba(131, 192, 253, 0.5);
  outline-offset: 4px;
  opacity: 1;
}

.chapternav-paddle:focus:after[data-focus-method="mouse"]:not(input):not(textarea):not(select),
.chapternav-paddle:focus:after[data-focus-method="touch"]:not(input):not(textarea):not(select) {
  outline: none;
}

.chapternav-paddle:active {
  outline: none;
}

.chapternav-paddle:active:after {
  outline: none;
  opacity: 1;
}

.chapternav-paddle-left {
  border-right-width: 1px;
  left: 0;
}

.chapternav-paddle-left::before,
.chapternav-paddle-left::after {
  color: inherit;
  display: inline-block;
  font-style: normal;
  font-weight: inherit;
  font-size: inherit;
  line-height: 1;
  position: relative;
  z-index: 1;
  alt: "";
}

.chapternav-paddle-left::before,
.chapternav-paddle-left::after {
  text-decoration: none;
}

.chapternav-paddle-left::before {
  display: none;
}

.chapternav-paddle-left::before,
.chapternav-paddle-left::after {
  content: "<";
}

.chapternav-paddle-left:after {
  margin-left: 8px;
}

.chapternav-paddle-right {
  border-left-width: 1px;
  right: 0;
}

.chapternav-paddle-right::before,
.chapternav-paddle-right::after {
  color: inherit;
  display: inline-block;
  font-style: normal;
  font-weight: inherit;
  font-size: inherit;
  line-height: 1;
  position: relative;
  z-index: 1;
  alt: "";
}

.chapternav-paddle-right::before,
.chapternav-paddle-right::after {
  text-decoration: none;
}

.chapternav-paddle-right::before {
  display: none;
}

.chapternav-paddle-right::before,
.chapternav-paddle-right::after {
  content: ">";
}

.chapternav-paddle-right:after {
  margin-right: 8px;
}

/* Main styles */
#app {
  padding: 10px;
}

#head {
  margin-bottom: 25px;
}
