// #about, #contact, #footer {
//   @include respond(phone) {
//     z-index: 1;
//   }
// }

.cdyEvent {
  display: flex;
  justify-content: center;
  background-color: white;
  z-index: 5;
  width: 45vw;
  padding: 5% 0;
  @include respond(phone) {
    width: 90vw;
    padding: 0;

  }
}

