#hero {
  min-height: 82vh;
  height: 82vh;
  display: flex;
  align-items: center;
  border-bottom: 0px;
  background: $white-color;
  font-weight: 400;
  color: $dark-blue-text;
  padding: 0rem 7rem;
  margin-bottom: 0;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -1;

  // If you want to set a background image on the hero section, uncomment these with yout custom image

  /* background: url("/src/assets/[your-image].png");
  background-position: center;
  background-size: cover; */

  @include respond(phone) {
    padding: 0rem $default-font-size;
    min-height: 74vh;
    height: 74vh;
  }

  .hero-title {
    font-size: 5.6rem;
    font-weight: 700;
    margin-bottom: 3.2rem;
    text-align: left;
    line-height: 1;
    @include respond(tab-land) {
      font-size: 4rem;
    }
    @include respond(tab-port) {
      font-size: 3.6rem;
      text-align: center;
    }
    @include respond(phone) {
      font-size: 3rem;
      line-height: 1.3;
    }
    @include respond(phone-xs) {
      font-size: 2.5rem;
    }
  }

  .brief {
    font-size: 3rem;
    font-weight: 600;
    margin-bottom: 3.2rem;
    text-align: left;

    @include respond(tab-land) {
      font-size: 2.5rem;
    }
    @include respond(tab-port) {
      font-size: 2.5rem;
      text-align: center;
    }
    @include respond(phone) {
      font-size: 2rem;
      line-height: 1.5;
    }
    @include respond(phone-xs) {
      font-size: 2rem;
    }
  }

  .hero-cta {
    display: flex;

    @include respond(tab-port) {
      justify-content: center;
    }

    & a {
      font-size: 2.4rem;

      @include respond(phone) {
        font-size: 2rem;
      }
    }
  }
}
#topNav {
  justify-content: space-between;
}

#pcTopNav {
  justify-content: space-around;
  min-height: 6vh;
  height: 6vh;
  padding-left: 10%;
  padding-right: 10%;
}

.header.social {
  background-color: $social-primary-color;
  background-image: linear-gradient(
    135deg,
    $social-primary-color 0%,
    $social-secondary-color 100%
  );
}
.header.art {
  background-color: $art-primary-color;
  background-image: linear-gradient(
    135deg,
    $art-primary-color 0%,
    $art-secondary-color 100%
  );
}
.header.religion {
  background-color: $religion-primary-color;
  background-image: linear-gradient(
    135deg,
    $religion-primary-color 0%,
    $religion-secondary-color 100%
  );
}
.header.sports {
  background-color: $sports-primary-color;
  background-image: linear-gradient(
    135deg,
    $sports-primary-color 0%,
    $sports-secondary-color 100%
  );
}
.header.study {
  background-color: $study-primary-color;
  background-image: linear-gradient(
    135deg,
    $study-primary-color 0%,
    $study-secondary-color 100%
  );
}
.header.volunteer {
  background-color: $volunteer-primary-color;
  background-image: linear-gradient(
    135deg,
    $volunteer-primary-color 0%,
    $volunteer-secondary-color 100%
  );
}
.header.exhibition {
  background-color: $exhibition-primary-color;
  background-image: linear-gradient(
    135deg,
    $exhibition-primary-color 0%,
    $exhibition-secondary-color 100%
  );
}
.pcTopNav.social {
  background-color: $social-primary-color;
  background-image: linear-gradient(
    135deg,
    $social-primary-color 0%,
    $social-secondary-color 100%
  );
}
.pcTopNav.art {
  background-color: $art-primary-color;
  background-image: linear-gradient(
    135deg,
    $art-primary-color 0%,
    $art-secondary-color 100%
  );
}
.pcTopNav.religion {
  background-color: $religion-primary-color;
  background-image: linear-gradient(
    135deg,
    $religion-primary-color 0%,
    $religion-secondary-color 100%
  );
}
.pcTopNav.sports {
  background-color: $sports-primary-color;
  background-image: linear-gradient(
    135deg,
    $sports-primary-color 0%,
    $sports-secondary-color 100%
  );
}
.pcTopNav.study {
  background-color: $study-primary-color;
  background-image: linear-gradient(
    135deg,
    $study-primary-color 0%,
    $study-secondary-color 100%
  );
}
.pcTopNav.volunteer {
  background-color: $volunteer-primary-color;
  background-image: linear-gradient(
    135deg,
    $volunteer-primary-color 0%,
    $volunteer-secondary-color 100%
  );
}
.pcTopNav.exhibition {
  background-color: $exhibition-primary-color;
  background-image: linear-gradient(
    135deg,
    $exhibition-primary-color 0%,
    $exhibition-secondary-color 100%
  );
}
.pcTopNav.chongdongyeon {
  background-color: $chongdongyeon-primary-color;
  background-image: linear-gradient(
    135deg,
    $chongdongyeon-primary-color 0%,
    $chongdongyeon-secondary-color 100%
  );
}
.hashtag {
  font-size: 20px;

  // font-size: 20px;
  @include respond(phone) {
    font-size: 1.6rem;
  }
  // @include respond(big-desktop) {
  //   font-size: 20px;
  // }

}

#caution {
  position: fixed;
  right: 2%;
  bottom: 5%;
  @include respond(phone) {
    right: 3%;
    left: 3%;
    font-size: 5px
  }
}

#cdyhero {
  min-height: 82vh;
  height: 82vh;
  display: flex;
  align-items: center;
  border-bottom: 0px;
  background: $white-color;
  font-weight: 400;
  color: $dark-blue-text;
  padding: 0rem 7rem;
  margin-bottom: 0;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 3;

  // If you want to set a background image on the hero section, uncomment these with yout custom image

  /* background: url("/src/assets/[your-image].png");
  background-position: center;
  background-size: cover; */

  @include respond(phone) {
    padding: 0rem $default-font-size;
    min-height: 74vh;
    height: 74vh;
  }

  .hero-title {
    font-size: 5.6rem;
    font-weight: 700;
    margin-bottom: 3.2rem;
    text-align: left;
    line-height: 1;
    @include respond(tab-land) {
      font-size: 4rem;
    }
    @include respond(tab-port) {
      font-size: 3.6rem;
      text-align: center;
    }
    @include respond(phone) {
      font-size: 3rem;
      line-height: 1.3;
    }
    @include respond(phone-xs) {
      font-size: 2.5rem;
    }
  }

  .brief {
    font-size: 3rem;
    font-weight: 600;
    margin-bottom: 3.2rem;
    text-align: left;

    @include respond(tab-land) {
      font-size: 2.5rem;
    }
    @include respond(tab-port) {
      font-size: 2.5rem;
      text-align: center;
    }
    @include respond(phone) {
      font-size: 2rem;
      line-height: 1.5;
    }
    @include respond(phone-xs) {
      font-size: 2rem;
    }
  }

  .hero-cta {
    display: flex;

    @include respond(tab-port) {
      justify-content: center;
    }

    & a {
      font-size: 2.4rem;

      @include respond(phone) {
        font-size: 2rem;
      }
    }
  }
}