// #area {
//   position: absolute;
//   top: 62%;
//   left: 33%;
//   width: 12%;
//   height: 13%;
//   background-color: "black";
//   z-index: 3;
// }

#buldingMain {
  position: absolute;
  left: 0%;
  top: 0%;
  // width: 100%;
  // height: 100vh;
  z-index: 2;
  @include respond(phone) {
    height: auto;
    width: 100%;
    top: 0%;
    left: 0%;
  }
}

#art {
  position: absolute;
  top: 18vh;
  left: 25%;
  width: 50%;
  z-index: 4;
  height: 75vh;
  @include respond(phone) {
    height: 50vh;
    width: 90%;
    top: 47vh;
    left: 3%;
  }
}
#artHover {
  position: absolute;
  top: 17vh;
  left: 24%;
  width: 54%;
  z-index: 4;
  height: 76vh;
  visibility: hidden;
  @include respond(phone) {
    height: 50vh;
    width: 90%;
    top: 47vh;
    left: 3%;
  }
}
#artLink {
  position: absolute;
  left: 35.5%; 
  top: 50%;
  width: 11%;
  height: 20%;
  z-index: 2; 
  // background-color: yellow;
  // opacity: 0.3;
  @include respond(phone) {
    // height: 50vh;
    top: 18vh;
    left: 0%
    // left: 2vw;
  }
}
#art-btn {
  top: -8vh;
  left: 5vw;
  @include respond(phone) {
    // height: 50vh;
    // top: 18vh;
    top: auto;
    left: 6vw;
  }
}
#chondongyeon {
  position: absolute;
  top: 13vh;
  left: 2%;
  width: 98%;
  z-index: 3;
  height: 82vh;
  @include respond(phone) {
    height: 50vh;
    width: 90%;
    top: 47vh;
    left: -4%;
  }
}
#social {
  position: absolute;
  top: 18vh;
  left: 25%;
  width: 50%;
  z-index: 3;
  height: 75vh;
  @include respond(phone) {
    height: 50vh;
    width: 90%;
    top: 47vh;
    left: 3%;
  }
}
#socialHover {
  position: absolute;
  top: 17vh;
  left: 24%;
  width: 54%;
  z-index: 3;
  height: 76vh;
  visibility: hidden;
  @include respond(phone) {
    height: 50vh;
    width: 90%;
    top: 47vh;
    left: 3%;
  }
}
#socialLink {
  position: absolute;
  left: 26%; 
  top: 52%;
  width: 9.5%;
  height: 18%;
  z-index: 2; 
  @include respond(phone) {
    position: absolute;
    top: 38vh;
    left: auto;
    right:0%;
  }

}
#social-btn {
  top: -6vh;
  left: 5vw;
  @include respond(phone) {
    top: auto;
    left: auto;
    right: 6vw;
  }
}
.Button {
  background: transparent;
  border: 0;
  border-radius: 0;
  color: inherit;
  display: inline-block;
  font: inherit;
  height: auto;
  line-height: 1;
  margin: 0;
  padding: 0;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  .Button-inner {
    align-items: center;
    justify-content: space-between;
    // background: #698bf0;
    background: $religion-primary-color;
    border: 2px solid transparent;
    border-radius: 99em;
    color: #fff;
    display: flex;
    font-weight: 600;
    // height: 2.5em;
    height: 6.5vh;
    min-width: 4em;
    padding: 0 0.25em;
    position: relative; /* WebKit Bug 173872 */
    transition: 0.2s ease;
    width: 33vw;
    opacity: 0.6;
    // width: 30vw;
    .text {
      display: inline-block;
      min-width: 3em;
      // padding-left: 0.1  em;
    }
    .number {
      // background: $religion-secondary-color;
      background: #fff;
      // color: #698bf0;
      color: $religion-primary-color;
      height: 4vh;
      min-width: 3em;
      // width: auto;
      // width: 25px;
      // font-size:16px;
      border-radius: 15px 15px 15px 15px;
      // border-radius: 100%;
      text-align: center;
      // align-items: center;
      padding-top: 6%;
      display: inline;
    }
  }
  
}

.mobile-btn {
  position: absolute;
  height: 13vh;
  visibility: hidden;
  // visibility: visible;
  @include respond(phone) {
    visibility: visible;
    width:  45vw;
  }
}

#exhibition {
  position: absolute;
  top: 20vh;
  left: 25%;
  width: 50%;
  z-index: 2;
  height: 80vh;
  @include respond(phone) {
    height: 50vh;
    width: 90%;
    top: 50vh;
    left: 3%;
  }
}
#exhibitionHover {
  position: absolute;
  top: 19vh;
  left: 23%;
  width: 54%;
  z-index: 2;
  height: 81vh;
  visibility: hidden;
  @include respond(phone) {
    height: 50vh;
    width: 90%;
    top: 50vh;
    left: 3%;
  }
}
#exhibitionLink {
  position: absolute;
  left: 53%; 
  top: 33%;
  width: 7.5%;
  height: 20%;
  z-index: 2; 
  @include respond(phone) {
    position: absolute;
    top: 28vh;
    left: auto;
    right: 0%
  }
}
#exhibition-btn {
  top: -3vh;
  left: -1vw;
  @include respond(phone) {
    top: auto;
  left: auto;
    right: 6vw;
  }
}
#study {
  position: absolute;
  top: 15vh;
  left: 26%;
  width: 50%;
  z-index: 3;
  height: 80vh;
  @include respond(phone) {
    height: 47vh;
    width: 90%;
    top: 49vh;
    left: 6%;
  }
}
#studyHover {
  position: absolute;
  top: 14vh;
  left: 23%;
  width: 54%;
  z-index: 3;
  height: 81vh;
  visibility: hidden;
  @include respond(phone) {
    height: 47vh;
    width: 90%;
    top: 49vh;
    left: 6%;
  }
}
#study-btn {
  top: 3vh;
  left: 7vw;
  @include respond(phone) {
    top: auto;
    left: 6vw;
  }
}
#studyLink {
  position: absolute;
  left: 59.5%; 
  top: 41%;
  width: 20%;
  height: 23.5%;
  z-index: 2; 
  @include respond(phone) {
    position: absolute;
    top: 48vh;
    left: 0%;
  }
}
#sports {
  position: absolute;
  top: 19vh;
  left: 27%;
  width: 50%;
  z-index: 5;
  height: 70vh;
  @include respond(phone) {
    height: 45vh;
    width: 90%;
    top: 49vh;
    left: 5%;
  }
}
#sportsHover {
  position: absolute;
  top: 18vh;
  left: 24%;
  width: 54%;
  z-index: 5;
  height: 71vh;
  visibility: hidden;
  @include respond(phone) {
    height: 45vh;
    width: 90%;
    top: 49vh;
    left: 5%;
  }
}
#sportsLink {
  position: absolute;
  left: 53.7%; 
  top: 62.5%;
  width: 15.7%;
  height: 19.5%;
  z-index: 2; 
  @include respond(phone) {
    position: absolute;
    top: 38vh;
    left: 0%;
  }
}
#sports-btn {
  top: -5vh;
  left: 10vw;
  @include respond(phone) {
    top: 0vh;
    left: 6vw;
  }
}
#volunteer {
  position: absolute;
  top: 23vh;
  left: 26%;
  width: 50%;
  z-index: 4;
  height: 70vh;
  @include respond(phone) {
    height: 43vh;
    width: 90%;
    top: 53vh;
    left: 5%;
  }
}
#volunteerHover {
  position: absolute;
  top: 22vh;
  left: 23%;
  width: 54%;
  z-index: 4;
  height: 71vh;
  visibility: hidden;
  @include respond(phone) {
    height: 43vh;
    width: 90%;
    top: 53vh;
    left: 5%;
  }
}
#volunteerLink {
  position: absolute;
  left: 52.5%;
  top: 50%;
  width: 8%;
  height: 19%;
  z-index: 2; 
  @include respond(phone) {
    position: absolute;
    top: 18vh;
    right: 0%;
    left: auto
    // right: 10vw;
  }
}
#volunteer-btn {
  top: -8vh;
  left: 2vw;
  @include respond(phone) {
    top: 0vh;
    left: auto;
    right: 6vw;
  }
}

#religion {
  position: absolute;
  top: 20vh;
  left: 25%;
  width: 50%;
  z-index: 2;
  height: 80vh;
  @include respond(phone) {
    height: 50vh;
    width: 80%;
    top: 50vh;
    left: 8%;
  }
}
#religionHover {
  position: absolute;
  top: 18vh;
  left: 24%;
  width: 54%;
  z-index: 2;
  height: 82vh;
  visibility: hidden;
  @include respond(phone) {
    height: 50vh;
    width: 80%;
    top: 50vh;
    left: 8%;
  }
}
#religionLink {
  position: absolute;
  left: 36.5%;
  top: 38%;
  width: 11.5%;
  height: 17%;
  z-index: 2;
  @include respond(phone) {
    position: absolute;
    top: 28vh;
    left: 0%;
  }
}
#religion-btn {
  top: -5vh;
  left: 5vw;
  @include respond(phone) {
    top: auto;
    left: 6vw;
  }
}


#chongdonyeonLink {
  position: absolute;
  // left: 36.5%;
  // top: 38%;
  // width: 11.5%;
  // height: 17%;
  z-index: 2;
  @include respond(phone) {
    position: absolute;
    top: 48vh;
    right: 0%;
  }
}
#chongdongyeon-btn {
  @include respond(phone) {
    right: 6vw;
  }
}

#mapContainer {
  position: relative;
  width: 100%;
  height: 100vh;
  background-color: #c0e9e8;
}

#mainImage {
  position: absolute;
  left: 5%;
  top: 0%;
  width: 90%;
  height: 100vh;
  z-index: 1;
  @include respond(phone) {
    height: 80vh;
    width: 100%;
    top: 20vh;
    left: 0%;
  }
}

#banner {
  position: absolute;
  top: 5vh;
  left: 15%;
  width: 70%;
  z-index: 5;
  height: 70vh;
  @include respond(phone) {
    height: auto;
    width: 100%;
    top: 1vh;
    left: 0%;
  }
}
// #ImageMap{
//   min-height: 100vh;
//   height: 100vh;

//   display: flex;
//   align-items: center;
//   border-bottom: 0px;
//   background: $white-color;
//   font-weight: 400;
//   color: $dark-blue-text;
//   padding: 0rem 5.6rem;
//   margin-bottom: 0;
//   top: 0;
//   left: 0;
//   bottom: 0;
//   right: 0;
//   z-index: -1;

//   // If you want to set a background image on the hero section, uncomment these with yout custom image

//   // background: url("../../img/empty.jpg");
//   // background-position: center;
//   // background-size: cover;

//   @include respond(phone) {
//     padding: 0rem $default-font-size;
//   }
// }
