#about {
  // background-color: $primary-color;
  // background-image: linear-gradient(
  //   135deg,
  //   $primary-color 0%,
  //   $secondary-color 100%
  // );
  color: $white-color;
  height: 100%;
  // height: 100vh;
  border-top: 0px;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);
  clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);
  padding-bottom: 10%;
  // padding-top: 6vh;
  @include respond(tab-land) {
    height: 100%;
    -webkit-clip-path: none;
    clip-path: none;
  }

  .about-wrapper {
    @include respond(phone) {
      padding-bottom: 5rem;
    }

    &__image {
      display: flex;
      height: 100%;
      // height: 70vh;
      align-items: center;
      justify-content: center;
    }
    @include respond(tab-port) {
      padding-bottom: 6.4rem;
    }
    @include respond(tab-land) {
      height: 100%;
    }

    &__info {
      margin-top: 11px;
      display: flex;
      height: 100%;
      justify-content: center;
      flex-direction: column;

      @include respond(phone) {
        align-items: center;
      }

      &-text {
        text-align: left;
        font-size: 1.8rem;
        line-height: 1.5;
        @include respond(tab-port) {
          font-size: 1.5rem;
          text-align: left;
        }
        @include respond(phone) {
          font-size: 1.6rem;
          text-align: left;
        }

        &--important {
          background: darken($secondary-color, 1%);
          display: inline-block;
          font-style: italic;
          padding: 0 0.3rem;
          margin: 0.3rem 0;
          line-height: 1.6;

          @include respond(phone) {
            display: inline;
            margin: 0;
            padding: 0;
            background: transparent;
            font-style: normal;
          }
        }
      }
    }
  }
}
@include respond(phone) {
  display: inline;
  margin: 0;
  padding: 0;
  background: transparent;
  font-style: normal;
}

#about.volunteer {
  background-color: $volunteer-primary-color;
  background-image: linear-gradient(
    135deg,
    $volunteer-primary-color 0%,
    $volunteer-secondary-color 100%
  );
}
#about.exhibition {
  background-color: $exhibition-primary-color;
  background-image: linear-gradient(
    135deg,
    $exhibition-primary-color 0%,
    $exhibition-secondary-color 100%
  );
}
#about.art {
  background-color: $art-primary-color;
  background-image: linear-gradient(
    135deg,
    $art-primary-color 0%,
    $art-secondary-color 100%
  );
}
#about.social {
  background-color: $social-primary-color;
  background-image: linear-gradient(
    135deg,
    $social-primary-color 0%,
    $social-secondary-color 100%
  );
}
#about.religion {
  background-color: $religion-primary-color;
  background-image: linear-gradient(
    135deg,
    $religion-primary-color 0%,
    $religion-secondary-color 100%
  );
}
#about.sports {
  background-color: $sports-primary-color;
  background-image: linear-gradient(
    135deg,
    $sports-primary-color 0%,
    $sports-secondary-color 100%
  );
}
#about.study {
  background-color: $study-primary-color;
  background-image: linear-gradient(
    135deg,
    $study-primary-color 0%,
    $study-secondary-color 100%
  );
}
