h1 {
  font-weight: 700;
}

p,
a {
  // font-family: "Montserrat", sans-serif;
  // font-size: 1.8rem;
  // line-height: 1.5;
  // @include respond(phone) {
  //   font-size: 1.6rem;
  // }
  font-size: $default-font-size;
}

a,
a:link,
a:hover,
a:visited,
a:active {
  text-decoration: none;
}

a:hover {
  transition: all 0.3s ease-in-out;
}

.section-title {
  margin: 0px;
  margin-bottom: 4.5rem;
  font-size: $big-font-size;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  @include respond(phone) {
    font-size: 2.8rem;
  }
}

.dark-blue-text {
  color: $dark-blue-text !important;
}
.text-color-main.social {
  background-image: linear-gradient(
    135deg,
    $social-primary-color 0%,
    $social-secondary-color 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  // Responsive text purple style
  @include respond(phone) {
    background-image: none;
    -webkit-text-fill-color: $social-secondary-color;
    // font-size: 2em;
  }

  &:hover {
    transform: translateX(2px);
  }
}

.text-color-main.art {
  background-image: linear-gradient(
    135deg,
    $art-primary-color 0%,
    $art-secondary-color 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  // Responsive text purple style
  @include respond(phone) {
    background-image: none;
    -webkit-text-fill-color: $art-secondary-color;
    // font-size: 2em;
  }

  &:hover {
    transform: translateX(2px);
  }
}

.text-color-main.religion {
  background-image: linear-gradient(
    135deg,
    $religion-primary-color 0%,
    $religion-secondary-color 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  // Responsive text purple style
  @include respond(phone) {
    background-image: none;
    -webkit-text-fill-color: $religion-secondary-color;
    // font-size: 2em;
  }

  &:hover {
    transform: translateX(2px);
  }
}

.text-color-main.sports {
  background-image: linear-gradient(
    135deg,
    $sports-primary-color 0%,
    $sports-secondary-color 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  // Responsive text purple style
  @include respond(phone) {
    background-image: none;
    -webkit-text-fill-color: $sports-secondary-color;
    // font-size: 2em;
  }

  &:hover {
    transform: translateX(2px);
  }
}

.text-color-main.study {
  background-image: linear-gradient(
    135deg,
    $study-primary-color 0%,
    $study-secondary-color 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  // Responsive text purple style
  @include respond(phone) {
    background-image: none;
    -webkit-text-fill-color: $study-secondary-color;
    // font-size: 2em;
  }

  &:hover {
    transform: translateX(2px);
  }
}
.text-color-main.volunteer {
  background-image: linear-gradient(
    135deg,
    $volunteer-primary-color 0%,
    $volunteer-secondary-color 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  // Responsive text purple style
  @include respond(phone) {
    background-image: none;
    -webkit-text-fill-color: $volunteer-secondary-color;
    // font-size: 2em;
  }

  &:hover {
    transform: translateX(2px);
  }
}
.text-color-main.exhibition {
  background-image: linear-gradient(
    135deg,
    $exhibition-primary-color 0%,
    $exhibition-secondary-color 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  // Responsive text purple style
  @include respond(phone) {
    background-image: none;
    -webkit-text-fill-color: $exhibition-secondary-color;
    // font-size: 2em;
  }

  &:hover {
    transform: translateX(2px);
  }
}

// .brief {
//   font-size: 3rem;
// }

.contentBound {
  word-wrap: break-word;
}

// .info-text {
  // font-size: 1.8rem;
//   line-height: 1.5;
//   @include respond(phone) {
//     font-size: 1.6rem;
//   }
// }